.my-table-bordered {
  border: 1px solid #000000;
}

.my-table {
   table {

    width: 100%;
    max-width: 100%;
    empty-cells: show;
    border-collapse: collapse;
    border: 0;
    padding: 0;

   }
  .my-table-bordered>tbody>tr>th,
  .my-table-bordered>tbody>tr>td,
  .my-table-bordered>thead>tr>th,
  .table>caption+thead>tr:first-child>th
  {
    min-width: 125px;
    border: 1px solid #000000;
    padding-bottom: .5rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .table>caption+thead>tr:first-child>th,
  .table>thead:first-child>tr:first-child>th   {
    border-top: 1px solid #000000;
  }
}



@media screen and (max-width: $breakpoint-tablet) {
  .my-table-responsive {
    border: 0;
    width: 100%;
  }
    table {
      border: none;
      margin-bottom: 2rem;
    }

    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    table tr {
      display: block;
      margin-bottom: 2rem;
      border: 1px solid #000000;
      border-bottom: 2px solid #000000;
    }

    table.my-table-bordered>tbody>tr>td,
    .my-table-responsive>.my-table-bordered>tbody>tr:last-child>td {
      border: none;
      display: block;
      text-align: right;
      border-bottom: 1px solid #000000;

    }

    table td::before {
      content: attr(data-title);
      float: left;
      font-weight: 800;
    }
    .my-table .my-table-bordered>tbody>tr>td {
      border-left: none;
      border-right: none;
      border-top: none;
    }
}